* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

#tema {
    height: auto;
}

header {
    display: flex;
    height: 79px;
    background-color: #004b93;
    position: static;
}

.nav-left {
    width: 100px;
    display: flex;
}

.logo-ice {
    width: 130px;
}

.logo-ice img {
    width: 100%;
}

.navigation_bar {
    display: flex;
    align-items: center;
}

.nav {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav li {
    position: relative;
    margin-right: 10px;
}

.nav li a {
    display: block;
    padding: 25.8px;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.nav li a:hover {
    border-top: #212529 1px solid;
}

.drop {
    display: none;
    position: absolute;
    background-color: #73707093;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    width: 150px;
    z-index: 1;
}

.drop ul li ul li {
    list-style-type: none;
}

.drop li ul::before {
    content: "";
    position: absolute;
    border-color: #212529;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 5px;
    height: 2px;
    left: -17px;
    margin-top: 10px;

}

.nav li:hover .drop {
    display: block;
    left: 0;
    top: 100%;
}

.nav-rigth {
    display: flex;
    justify-content: flex-end;
    width: 100px
}

.nav-search {
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    width: 30px;
}

.nav-search img {
    cursor: pointer;
    align-items: center;
    display: flex;
    width: 100px !important;
}

.nav-map {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 30px;
}

.nav-map img {
    width: 100%;
}

.horizontal-line {
    width: 350px;
    height: 1.8px;
    background: linear-gradient(90deg, #ffffff, #e9c60c, #ffffff);
    margin: 20px auto 30px auto;
    margin-bottom: 100px;
}


.containerp h1 {
    color: #004b93;
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-weight: 100;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    justify-content: center;
}

.flecha {
    background-image: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    background-size: 75%;
    width: 15px;
    vertical-align: text-bottom;
}

#link {
    color: #212529;
    text-decoration: none;
}

#txt {
    padding: 5px;
    font-size: 11px !important;
    font-family: Arial, Helvetica, sans-serif;
}

#link:hover {
    color: #004992 !important;
    text-decoration: underline;
}


.contenedoDemininav {
    padding: 12px 16px;
}

ctn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.ctn-navus {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.ctn-navus li {
    position: relative;
    margin-right: 10px;
}

.ctn-navus li a {
    font-size: 18px;
    color: #2e2e2e9a;
    font-weight: bolder;
    display: inline;
    padding: 4px;
    padding-left: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.ctn-navus li a:hover {
    color: #004992 !important;
    text-decoration: underline;
}

.horizontal-line1 {
    width: 900px;
    height: 0.7px;
    background: rgba(128, 128, 128, 0.336);
    margin: 10px auto 30px auto;
    margin-bottom: 50px;
}

.date {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 300px;
}

.share {
    display: inline-block;

}

.dtsh-in {
    display: grid;
    grid-template-columns: auto auto;
}

.share a {
    height: 25px;
    width: 25px;
    display: inline-block;
    font-size: 24px;
    opacity: 0.75;
    transition: opacity 0.15s linear;
}

.hide {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.facebook {
    background-image: url(../svg/facebook.svg);
}

.twitter {
    background-image: url(../svg/Twitter.svg);

}

.whatsapp {
    background-image: url(../svg/whatsapp.svg);
}

.correo {
    background-image: url(../svg/correo.svg);
}

.imprimir {
    background-image: url(../svg/print.svg);
}

.information-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1100px;
}

.letme h1 {
    font-size: 2rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000d5;
    font-weight: 300;
}

.information-container p {
    font-size: 16px !important;
    text-align: justify;
    letter-spacing: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000d5;
    font-weight: 300;
}

.footer {
    background-color: #555;
    color: white;
    padding: 10px;
}

.footer-top, .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info, .footer-social, .footer-language, .footer-links, .footer-ipv6, .footer-translate {
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-info p, .footer-links p, .footer-translate p, .footer-language select {
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: none;
    font-size: 14px;
}


.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.footer-links a{
    color: white;
    text-decoration: none;
}

.footer-links a:hover, .footer-translate a:hover, .footer-social a:hover {
    text-decoration: underline;
}

#language {
    padding: 5px;

}

.footer-divider {
    width: 100%;
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}

.footer-ipv6 img {
    max-height: 20px;
}

.footer-translate a{
    color: black;
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

