* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

#tema {
    height: auto;
}

header {
    display: flex;
    height: 79px;
    background-color: #004b93;
    position: static;
}

.nav-left {
    width: 100px;
    display: flex;
}

.logo-ice {
    width: 130px;
}

.logo-ice img {
    width: 100%;
}

.navigation_bar {
    display: flex;
    align-items: center;
}

.nav {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav li {
    position: relative;
    margin-right: 10px;
}

.nav li a {
    display: block;
    padding: 25.8px;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover {
    border-top: #212529 0.8px solid;
}

.drop {
    display: none;
    position: absolute;
    background-color: #73707093;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    width: 150px;
    z-index: 1;
}

.drop ul li ul li {
    list-style-type: none;
}

.drop li ul::before {
    content: "";
    position: absolute;
    border-color: #212529;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 5px;
    height: 2px;
    left: -17px;
    margin-top: 10px;

}

.nav li:hover .drop {
    display: block;
    left: 0;
    top: 100%;
}

.nav-rigth {
    display: flex;
    justify-content: flex-end;
    width: 100px
}

.nav-search {
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    width: 30px;
}

.nav-search img {
    cursor: pointer;
    align-items: center;
    display: flex;
    width: 100px !important;
}

.nav-map {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 30px;
}

.nav-map img {
    width: 100%;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover {
    background-color: rgba(0, 0, 0, 0);
}

.next:hover {
    background-color: rgba(0, 0, 0, 0);
}

.text {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(61, 59, 59, 0.810259) 50%, rgba(255, 255, 255, 0) 100%);
    color: #ffffff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 0px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1;
    }
}

.financial-report {
    display: block;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.financial-report h1 {
    color: #004b93;
    font-size: 46px;
    margin-bottom: 20px;
    font-weight: 400;
}

.horizontal-line {
    width: 350px;
    height: 1.8px;
    background: linear-gradient(90deg, #ffffff, #e9c60c, #ffffff);
    margin: 10px auto 30px auto;
    margin-bottom: 100px;
}

.report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.report-image img {
    width: 472px;
    height: 314px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.vertical-line {
    width: 1.8px;
    height: 300px;
    background: linear-gradient(90deg, #ffffff, #e9c60c, #ffffff);
    text-decoration: none;
}

.report-info {
    max-width: 500px;
    text-align: left;
}

.report-info h2 {
    color: #000000;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.report-info p {
    font-size: 1em;
    margin-bottom: 20px;
}

.report-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd700;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.report-link:hover {
    background-color: #ffc700;
}

.d-none {
    display: none !important;
}

.grid-ctn {
    border: 1px dashed rgb(255, 0, 0);
    width: 80%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 120px;
}

.grid-ctn img {
    width: 50px;
    vertical-align: middle;
    border-style: none;
}

.gridTitle {
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 32px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 246px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 40px 0 rgba(172, 172, 172, 0.5);
}



#negfont {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #004B93;
    margin-top: 10%;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}


.neg-ctn {
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 40%;
    width: 256px;
    flex-wrap: wrap;
    margin-left: 50px;
}

.icon1 {
    width: 40%;
    width: 256px;
    flex-wrap: wrap;
    margin-right: 50px;
}

.text-item {
    padding-top: 18px;
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 3;
    line-height: 17px;
}



.grid-item span {
    list-style-type: none;
    text-decoration: none;
}

.footer {
    background-color: #555;
    color: white;
    padding: 10px;
}

.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info,
.footer-social,
.footer-language,
.footer-links,
.footer-ipv6,
.footer-translate {
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-info p,
.footer-links p,
.footer-translate p,
.footer-language select {
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: none;
    font-size: 14px;
}


.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover,
.footer-translate a:hover,
.footer-social a:hover {
    text-decoration: underline;
}

#language {
    padding: 5px;

}

.footer-divider {
    width: 100%;
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}

.footer-ipv6 img {
    max-height: 20px;
}

.footer-translate a {
    color: black;
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}