* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

#tema {
    height: auto;
}

header {
    display: flex;
    height: 79px;
    background-color: #004b93;
    position: static;
}

.nav-left {
    width: 100px;
    display: flex;
}

.logo-ice {
    width: 130px;
}

.logo-ice img {
    width: 100%;
}

.navigation_bar {
    display: flex;
    align-items: center;
}

.nav {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav li {
    position: relative;
    margin-right: 10px;
}

.nav li a {
    display: block;
    padding: 25.8px;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover {
    border-top: #212529 0.8px solid;
}

.drop {
    display: none;
    position: absolute;
    background-color: #73707093;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    width: 150px;
    z-index: 1;
}

.drop ul li ul li {
    list-style-type: none;
}

.drop li ul::before {
    content: "";
    position: absolute;
    border-color: #212529;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 5px;
    height: 2px;
    left: -17px;
    margin-top: 10px;

}

.nav li:hover .drop {
    display: block;
    left: 0;
    top: 100%;
}

.nav-rigth {
    display: flex;
    justify-content: flex-end;
    width: 100px
}

.nav-search {
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    width: 30px;
}

.nav-search img {
    cursor: pointer;
    align-items: center;
    display: flex;
    width: 100px !important;
}

.nav-map {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 30px;
}

.nav-map img {
    width: 100%;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover {
    background-color: rgba(0, 0, 0, 0);
}

.next:hover {
    background-color: rgba(0, 0, 0, 0);
}

.text {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(61, 59, 59, 0.810259) 50%, rgba(255, 255, 255, 0) 100%);
    color: #ffffff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 0px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1;
    }
}

.financial-report {
    display: block;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.financial-report h1 {
    color: #004b93;
    font-size: 46px;
    margin-bottom: 20px;
    font-weight: 400;
}

.horizontal-line {
    width: 350px;
    height: 1.8px;
    background: linear-gradient(90deg, #ffffff, #e9c60c, #ffffff);
    margin: 10px auto 30px auto;
    margin-bottom: 100px;
}

.report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.report-image img {
    width: 472px;
    height: 314px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.vertical-line {
    width: 1.8px;
    height: 300px;
    background: linear-gradient(90deg, #ffffff, #e9c60c, #ffffff);
    text-decoration: none;
}

.report-info {
    max-width: 500px;
    text-align: left;
}

.report-info h2 {
    color: #000000;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.report-info p {
    font-size: 1em;
    margin-bottom: 20px;
}

.report-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd700;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.report-link:hover {
    background-color: #ffc700;
}

.ctn-card {
    background-color: #ffffff;
    padding-bottom: 40px;
}

@media (min-width: 1200px) {

    .ctn-back {
    max-width: 1140px;
    }
}

.ctn-back {
    background-image: url(../img/backgroundServPrinc.png);
    background-size: 100% 100%;
    z-index: 2;
    position: relative;
}

.row {
    display: grid;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.ctn-card .title-back {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.col {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #004b93;
}

.ctn-img {
    display: flex;
    justify-content: center;
    align-self: center;
}

.cf3 {
    flex: 0 0 25%;
    max-width: 25%;
}

cf {
    flex: 0 0 50%;
    max-width: 50%;
}

.cf3 a {
    color: #004b93;
}

.cnt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 236px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 40px 0 rgba(172, 172, 172, 0.5);
}

.ctn2:hover {
    border: 1.5px solid #004b93;
}

.ctn2 img {
    vertical-align: middle;
    border-style: none;
}

.columns1 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.columns2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.columns2 {
    flex: 0 0 100%;
    max-width: 100%;
}

















/* .wrapper-nuestros-negocios .ParallaxVideo {
    height: 444px;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
}
.wrapper-nuestros-negocios .ParallaxVideo .parallax-cont #imgParallaxIOS {
    display: none;
}
.wrapper-nuestros-negocios .ParallaxVideo .parallax-cont #imgParallaxIOS img {
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -999;
    height: auto;
}
.wrapper-nuestros-negocios .ParallaxVideo .parallax-cont video {
    width: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -999;
    height: 100%;
    height: auto;
}

.d-none {
    display: none !important;
} */